@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --primary: #fff;
  --secondary: #fafafa;
  --primary-branding: #6aff00;
  --secondary-branding: #1d2814;

  --primary-text: #000;
  --secondary-text: #202020;
}

@font-face {
  font-family: roboto-serif;
  src: url(./fonts/RobotoSerif-Medium.ttf);
}

h1{
  line-height: 1.15em;
  font-weight: 800;
  font-size: 2.5em;
  color: var(--primary-text);
}
h2{
  font-weight: 600;
  font-size: 2.5em;
  color: var(--primary-text);
}
h3{
  font-size: 1.5em;
  font-weight: 600;
  color: var(--secondary-text);
}
p{
  color: var(--secondary-text);
}

body{
  background: var(--primary);
  min-height: 100vh;
}

header.global-header{
  background: #fefefe;
  display: grid;
  border-bottom: 2px solid var(--secondary-branding);
  padding: 0 20px;
}

main{
  padding: 0px 0 20px;
}

.section-content{
  margin-inline: auto;
  max-width: 1680px;
  padding-inline: 20px;
}

section.hero{
  
  .section-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 100px 0;
  }

  .donation-portal{
    width: 600px;
    height: 600px;
    background: var(--secondary-branding);
    border-radius: 20px;
    padding: 40px;

    h1{
      color: var(--primary-branding);
      text-align: center;
    }
  }

  img{
    grid-area: 1/2/2/3;
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 30% 50%;
    z-index: 1;
  }
}

section.donate{
  background: var(--secondary-branding);
  padding: 120px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;

  .donation-info{
    max-width: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    h2{
      line-height: 1.15em;
    }

    hr{
      border-top: 5px solid var(--primary-branding);
      width: 50px;
    }

    h2,p{
      color: var(--primary-branding);
    }
  }

  .donation-link{
    button{
      display: flex;
      gap: 8px;
      background: var(--primary-branding);
      align-items: center;
      justify-content: center;
      padding: 10px 20px;
      border-radius: 14px;
      width: 200px;
      
      svg,p{
        color: var(--secondary-branding);
        stroke: var(--secondary-branding);
        font-weight: 700;
      }
    }
  }
}

section.mission{
  padding: 120px 20px;
  background: #fffadb;

  .section-content{
    display: grid;
    grid-template-columns: 1fr 1.6fr;
    gap: 80px;
  }

  .mission-info{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    hr{
      border-top: 5px solid var(--secondary-branding);
      width: 50px;
    }
    p{
      font-size: 1.1em;
      // font-weight: 500;
    }

  }

  img{
    border-radius: 20px;
    // // width: 800px;
    // aspect-ratio: 16/10;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}

@media screen and (max-width: 1068px){
  section.donate{
    padding: 40px;
  }
  section.mission{
    padding: 40px 20px;
  }
  section.mission{
    text-align: center;
    .section-content{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .mission-info{
      align-items: center;      
    }
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
