@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --primary: #fff;
  --secondary: #fafafa;
  --primary-branding: #6aff00;
  --secondary-branding: #1d2814;

  --primary-text: #000;
  --secondary-text: #202020;
}

@font-face {
  font-family: roboto-serif;
  src: url(./fonts/RobotoSerif-Medium.ttf);
}

h1{
  line-height: 1.15em;
  font-weight: 700;
  font-size: 3.25em;
  color: var(--primary-text);
}
h2{
  font-weight: 600;
  font-size: 2.5em;
  // font-family: roboto-serif;
  color: var(--primary-text);
}
h3{
  font-size: 1.5em;
  font-weight: 600;
  color: var(--secondary-text);
}
p{
  color: var(--secondary-text);
  font-weight: 500;
}

body{
  background: var(--primary);
  min-height: 100vh;
}

header.global-header{
  background: #fefefe;
  display: grid;
  // border-bottom: 1px solid var(--secondary-branding);
  padding: 0 20px;
  // position: sticky;
//   top: 0;
  z-index: 250;
}

main{
  padding: 0px 0 20px;
}

.section-content{
  margin-inline: auto;
  max-width: 1440px;
  padding: 2.5vw;
  gap: 2.5vw;
}

section.hero{
  display: grid;
  grid-template-columns: repeat(2,1fr);

  .hero-overlay{
    grid-area: 1/1/2/3;
    place-self: center;
    display: grid;
    place-items: center left;
    background: linear-gradient(to left, #00000031, #000000d7);
    z-index: 2;
    height: 100%;
    width: 100%;

    .hero-text{
      max-width: 600px;
      padding: 2.5vw;

      h1{
        color: #fff;
      }
      h3{
        color: #ebebeb;
      }
    }
  }

  img{
    grid-area: 1/1/2/3;
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 30% 50%;
    z-index: 1;
    transform: scaleX(-1);
  }
}

section.action{
  background: #121212;
  text-align: center;

  h2,p{
    color: var(--primary-branding);
  }
  h2{
    line-height: 1.15em;
  }
  hr{
    border-top: 5px solid var(--primary-branding);
    width: 50px;
  }

  .section-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);

    >*{
      padding: 80px 2.5vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 60px;
      border-radius: 20px;
      background: var(--secondary-branding);
    }
  }
  
  

  .donate{

    .donation-info{
      max-width: 700px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
  
    }
  
    .donation-link{
      button{
        display: flex;
        gap: 8px;
        background: var(--primary-branding);
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        border-radius: 14px;
        width: 200px;
        
        svg,p{
          color: var(--secondary-branding);
          stroke: var(--secondary-branding);
          font-weight: 700;
        }
      }
    }
  }


  .report{

    .report-info{
      max-width: 700px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }
}

section.mission{

  .section-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 80px;
    padding: 80px 2.5vw;
  }

  .mission-info{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    p{
      font-size: 1.1em;
    }

  }

  img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}

@media screen and (max-width: 960px){

  h2{
    font-size: 1.75em;
  }
  .section-content{
    padding: 2.5vw;
  }
  section.action{
    .section-content{
      display: flex;
      flex-direction: column;

      >*{
        padding: 40px 2.5vw;
      }
    }
  }
  section.mission{

    .section-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 60px 2.5vw;
    }
    .mission-info{
      align-items: center;
      text-align: center;
      p{
        font-size: .95em;
      }
    }
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
